$container-md: 768px
$container-lg: 768px
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import 'bootstrap-custom'

*
  box-sizing: border-box

.app
  padding-top: 50px

.lobby
  text-align: center

.link
  display: inline-table
  margin-top: 20px
  width: 330px
  input[type="text"]
    background-color: #FFF
  .copy-btn
    cursor: pointer

.field
  @extend .container
  position: relative
  overflow: hidden
  width: 300px
  .row
    margin-top: -3px

.cell
  @extend .col-xs-4
  height: 100px
  padding: 0
  border-top: 3px solid #000
  border-left: 3px solid #000
  &:nth-of-type(3n-2)
    border-left: none
  .circle
    fill: none
    stroke: #0C0C9D
    stroke-width: 7
    stroke-dasharray: 1000
    stroke-dashoffset: 1000
    animation: dash 2s linear forwards
  .cross
    fill: none
    stroke: #D01818
    stroke-width: 7
    stroke-dasharray: 1000
    stroke-dashoffset: 1000
    animation: dash 2s linear forwards

.line
  position: absolute
  left: 0
  top: 0
  right: 0
  z-index: 1000
  path
    stroke: #000
    stroke-width: 8
    stroke-dasharray: 1000
    stroke-dashoffset: 1000
    animation: dash 2s linear forwards

@keyframes dash
  to
    stroke-dashoffset: 0